/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set full height for app container */
html, body, #root {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background: linear-gradient(to bottom, #b3e5fc 0%, #fff0d8 100%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
